:root {
    --color-background: #2B2D42;
    --color-background-shade: #484c6e;
    --color-accent-darker: #85011e;
    --color-accent: #D80032;
    --color-accent-shade: #c2919c;
    --color-white: #EDF2F4;
    --color-shade: #8D99AE;

    --color-error: #dc2626;
    --color-warning: #f59e0b;
    --color-info: #3b82f6;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Hammersmith One', sans-serif;
    background-color: var(--color-background);
    color: var(--color-white);
}

img.loading {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    display: block;
    animation: spin 1.5s linear infinite;
}

.subpage_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.15s linear both;
}

input.collectionInput, textarea.collectionInput, select.collectionInput {
    padding: 10px;
    margin: 10px 0 0 0;
    border: 2px solid var(--color-background-shade);
    border-radius: 5px;
    background-color: var(--color-background);
    color: var(--color-white);

    &:focus {
        outline: none;
        border: 2px solid var(--color-accent);
    }
}

html body .v-popper--theme-tooltip {
    .v-popper__inner {
        background-color: var(--color-background-shade);
        color: var(--color-white);
        border-radius: 5px;
        padding: 4px 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
    .v-popper__arrow-container {
        display: none;
    }
}

html body .v-popper--theme-dropdown {
    .v-popper__wrapper {
        position: relative;
    }
    .v-popper__inner {
        background-color: var(--color-background);
        color: var(--color-white);
        border: solid 1px var(--color-background-shade);
        border-radius: 8px;
        padding: 4px 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
    .v-popper__arrow-container {
        .v-popper__arrow-outer, .v-popper__arrow-inner {
            border-color: var(--color-background);
        }
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes slideToTop {
    0% {
        transform: translateY(-10%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}