@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

:root {
    --color-background: #2B2D42;
    --color-background-shade: #484c6e;
    --color-accent: #D80032;
    --color-accent-shade: #c2919c;
    --color-white: #EDF2F4;
    --color-shade: #8D99AE;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Hammersmith One', sans-serif;
    background-color: var(--color-background);
    color: var(--color-white);
}

img.loading {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    display: block;
    animation: spin 1.5s linear infinite;
}

.subpage_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.15s linear both;
}

input.collectionInput, textarea.collectionInput, select.collectionInput {
    padding: 10px;
    margin: 10px 0;
    border: 2px solid var(--color-background-shade);
    border-radius: 5px;
    background-color: var(--color-background);
    color: var(--color-white);

    &:focus {
        outline: none;
        border: 2px solid var(--color-accent);
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes slideToTop {
    0% {
        transform: translateY(-10%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}